.service-wrapper {
    padding-top: 60px;
    padding-bottom: 100px;
}
.service-left {
    width: auto;
    max-width: 730px;
    float: left;
}
.service-right {
    width: 400px;
    float: right;
    padding-bottom: 100px;
}
.service-left,
.service-right {
    position: relative;
}
.service-left h1 {
    color: #f0bb3f;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.service-left .service-content * {
    color: black;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.service-right .service-element {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    padding: 32px;
}
.service-form input {
    height: 50px !important;
    padding: 10px 10px 10px 16px !important;
    gap: 10px !important;
    align-self: stretch !important;
    border-radius: 20px !important;
    border: 1px solid #535353 !important;
    font-size: 16px !important;
}
.service-control textarea {
    padding: 10px 10px 10px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 20px;
    border: 1px solid #535353;
    font-size: 16px !important;
}
.service-form button {
    border-radius: 20px;
    background: linear-gradient(134deg, #edb739 0%, #ffd061 100%);
    text-align: center;
    display: block;
    font-size: 16px !important;
}
.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

.socmedia_service_1 {
    left: 0px;
    bottom: -200px;
}

.socmedia_service_2 {
    left: 100px;
    bottom: -50px;
}

.socmedia_service_3 {
    left: -180px;
    bottom: -80px;
}

.socmedia_service_4 {
    right: -65px;
    top: 10px;
}

.socmedia_service_5 {
    right: -80%;
    top: 10px;
}

#main {
    background: url("/images/socmedia_service_8.png") no-repeat;
    background-position: calc(100% + 300px) 100%;
}

.example-item {
    border-radius: 13.385px;
    border: 1.339px solid #f0f0f0;
    background: #fff;
}

@media screen and (max-width: 1200px) {
    .service-left,
    .service-right {
        float: none;
        margin-bottom: 0px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #main {
        background: none !important;
    }
    .socmedia_service_2 {
        left: 20px;
        bottom: -50px;
        display: none !important;
    }
    .service-left h1 {
        font-size: 35px;
    }

    .socmedia_service_1 {
        bottom: -150px !important;
    }

    .service-right {
        padding-bottom: 10px;
    }
    .service-wrapper {
        padding-bottom: 0px;
    }
}
