.center {
    text-align: center;
    font-family: monospace;
}

.pagination-box {
    width: 100%;
    text-align: center;
}

.pagination a {
    color: #000000;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .5s;
    border: 1px solid #DDD;
    margin: 0 4px;
    font-size: 20px;
}

.pagination .active a {
    background-color: #e8b641;
    color: #FFFFFF;
    border: 1px solid #e8b641;
}

.pagination a:hover:not(.active) {
    background-color: #DDD;
}

.disabled{
    display: none !important;
}
