@import "plugins/kk-star-ratings/src/core/public/css/kk-star-ratings.minbb49.css";
@import "plugins/contact-form-7/includes/css/stylesd03b.css";
@import "plugins/elfsight-addons-for-elementor/iconfont/stylec8d8.css";
@import "plugins/gallery-videos/CSS/Total-Soft-Gallery-Video-Widgetc8d8.css";
@import "plugins/gallery-videos/CSS/totalsoftc8d8.css";
@import "plugins/tabs-responsive/assets/css/font-awesome/css/font-awesome.minc8d8.css";
@import "plugins/tabs-responsive/assets/css/bootstrap-frontc8d8.css";
@import "plugins/tabs-responsive/assets/css/animatec8d8.css";
@import "plugins/easy-table-of-contents/vendor/icomoon/style.min01f0.css";
@import "plugins/easy-table-of-contents/assets/css/screen.min01f0.css";
@import "themes/flatsome/inc/integrations/ninjaforms/ninjaformsc8d8.css";
@import "themes/flatsome/assets/css/flatsomeb73d.css";
@import "themes/flatsome/styleb73d.css";
@import "banner";
@import "service";
@import "news";
@import "footer";
@import "splide.min";
@import "videopopup";
@import "main";

.search-box {
    transform: translate(-50%, -50%);
    background-color: rgb(232, 182, 65);
    height: 60px;
    border-radius: 40px;
    padding: 10px 18px;
    .search-box:hover > .icon {
        background-color: #536179;
    }

    .icon {
        color: #eafaf1;
        float: right;
        width: 40px;
        font-size: 1rem;
        height: 40px;
        border-radius: 50%;
        background-color: #58d68d;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        cursor: pointer;
        text-decoration: none;
    }

    input {
        /* width: 0; */
        border: none;
        outline: none;
        padding: 0 10px;
        background: none;
        font-size: 1.1rem;
        transition: 0.5s ease;
        line-height: 40px;
        color: #fff;
    }
}
.display-mobile {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .display-desktop {
        display: none !important;
    }
    .display-mobile {
        display: block !important;
    }
}
