#section_1236302214 {
    padding-top: 82px;
    padding-bottom: 82px;
    margin-bottom: 0px;
    min-height: 0px;
}

.header-banner {
    .banner-desktop,
    .banner-mobile {
        width: 100%;
        height: auto;
    }
    .banner-mobile {
        display: none;
    }
    @media screen and (max-width: 768px) {
        .banner-mobile {
            display: block;
        }
        .banner-desktop {
            display: none;
        }
    }
}

#section_1236302214 .ux-shape-divider--top svg {
    height: 150px;
    --divider-top-width: 100%;
}

#section_1236302214 .ux-shape-divider--bottom svg {
    height: 150px;
    --divider-width: 100%;
}

#text-1433192428 {
    font-size: 1.5rem;
    line-height: 0.75;
    text-align: center;
    color: rgb(255, 255, 255);
}

#text-1433192428 > * {
    color: rgb(255, 255, 255);
}

#text-3519745920 {
    font-size: 1.35rem;
    line-height: 0.75;
    text-align: center;
    color: rgb(255, 255, 255);
}

#text-3519745920 > * {
    color: rgb(255, 255, 255);
}

#gap-539924067 {
    padding-top: 43px;
}
