#gap-1363176295 {
  padding-top: 43px;
}

#text-404384872 {
  text-align: center;
}

#text-491937592 {
  color: rgb(255, 253, 236);
}

#text-491937592>* {
  color: rgb(255, 253, 236);
}

#text-box-656465645 {
  width: 69%;
}

#text-box-656465645 .text-box-content {
  font-size: 131%;
}

#banner-775166436 .bg.bg-loaded {
  background-image: url(../../../public/images/2021/10/motion-graphics-best-practices.1900x1900.png);
}

.banner {
  padding-top: 99.99%;
}

#banner-1702831144 .bg.bg-loaded {
  background-image: url(../../../public/images/2021/10/c9766811449634cab83a657a51c8448c.png);
}

#banner-956890562 .bg.bg-loaded {
  background-image: url(../../../public/images/2021/10/Doutss-Landing-Page.jpg);
}

#banner-1671117404 .bg.bg-loaded {
  background-image: url(../../../public/images/2021/10/thiet-ke-landing-page-toi-uu-cho-quang-cao-google-ads-search.jpg);
}

.banner .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.banner .ux-shape-divider--top svg {
  height: 150px;
  --divider-top-width: 100%;
}

.banner .ux-shape-divider--bottom svg {
  height: 150px;
  --divider-width: 100%;
}

#col-287069036>.col-inner {
  margin: -148px 0px 0px 0px;
}

#row-250246419>.col>.col-inner {
  padding: 0px 0px 0px 0px;
}

.ladi-wraper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.ladi-section {
  margin: 0 auto;
  position: relative;
}

.ladi-section .ladi-section-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}

@media (max-width: 767px) {
  #SECTION1 {
    height: 181.161px;
  }

  #SECTION1 > .ladi-section-background {
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    background-image: url(../../../public/images/2021/10/background-genex-20-20-20210514030945.jpg);
    background-position: center top;
    background-repeat: repeat;
  }

  .ladi-section .ladi-container {
    width: 420px;
  }

  #GROUP1209 {
    width: 384px;
    height: 194.765px;
    top: 6.74595px;
    left: 16.95px;
  }

  #SHAPE424 {
    width: 57.6397px;
    height: 57.6396px;
    top: 0px;
    left: 254.071px;
  }
  #IMAGE1197 {
    width: 154.588px;
    height: 28.0464px;
    top: 4.41505px;
    left: 0px;
  }

  #IMAGE1197 > .ladi-image > .ladi-image-background {
    width: 154.588px;
    height: 28.0464px;
    top: 0px;
    left: 0px;
    background-image: url(../../../public/images/2021/10/logo-09-20210513093016.png);
  }

  #PARAGRAPH1199 {
    width: 228px;
    top: 30.5018px;
    left: 6.97945px;
  }

  #PARAGRAPH1199 > .ladi-paragraph {
    font-family: "Oswald", sans-serif;
    color: rgb(98, 98, 98);
    font-size: 16px;
    font-weight: bold;
    line-height: 1.6;
  }

  #HEADLINE1200 > .ladi-headline {
    font-family: "Oswald", sans-serif;
    color: rgb(199, 31, 22);
    font-size: 30px;
    font-weight: bold;
    line-height: 1.6;
  }

  #HEADLINE1200 {
    width: 71px;
    top: 73.5018px;
    left: 43.794px;
  }

  #PARAGRAPH1203 {
    width: 380px;
    top: 134.765px;
    left: 3.79595px;
  }

  #PARAGRAPH1203 > .ladi-paragraph {
    font-family: "Oswald", sans-serif;
    color: rgb(212, 31, 21);
    font-size: 19px;
    font-weight: bold;
    line-height: 1.6;
  }

  #BOX1204 {
    width: 380px;
    height: 14.3937px;
    top: 150.371px;
    left: 3.79595px;
  }

  #BOX1204 > .ladi-box {
    background-color: rgb(255, 246, 145);
  }

  #HEADLINE1201 {
    width: 164px;
    top: 38.5018px;
    left: 129.775px;
  }

  #HEADLINE1201 > .ladi-headline {
    font-family: "Oswald", sans-serif;
    color: rgb(200, 31, 23);
    font-size: 57px;
    font-weight: bold;
    line-height: 1.6;
  }

}

@media (min-width: 768px) {
  #SECTION1 {
    height: 389.579px;
  }
  #SECTION1 > .ladi-section-background {
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    background-image: url(../../../public/images/2021/10/background-genex-20-20-20210514030945.jpg);
    background-position: center top;
    background-repeat: repeat;
  }
  .ladi-section .ladi-container {
    width: 1200px;
  }
  #SHAPE424 {
    width: 92.247px;
    height: 92.247px;
    top: 20.261px;
    left: 595.677px;
  }

  #GROUP1209 {
    width: 742px;
    height: 302.508px;
    top: 51.239px;
    left: 35.415px;
  }

  #IMAGE1197 {
    width: 326.773px;
    height: 59.2855px;
    top: 0px;
    left: 39.5881px;
  }

  #IMAGE1197 > .ladi-image > .ladi-image-background {
    width: 326.773px;
    height: 59.2855px;
    top: 0px;
    left: 0px;
    background-image: url(../../../public/images/2021/10/logo-09-20210513093016.png);
  }

  #PARAGRAPH1199 {
    width: 470px;
    top: 55.143px;
    left: 48px;
  }

  #PARAGRAPH1199 > .ladi-paragraph {
    font-family: "Oswald", sans-serif;
    color: rgb(98, 98, 98);
    font-size: 31px;
    font-weight: bold;
    line-height: 1.6;
  }

  #HEADLINE1200 {
    width: 150px;
    top: 142.143px;
    left: 130.975px;
  }

  #HEADLINE1200 > .ladi-headline {
    font-family: "Oswald", sans-serif;
    color: rgb(199, 31, 22);
    font-size: 52px;
    font-weight: bold;
    line-height: 1.6;
  }
  
  #HEADLINE1201 {
    width: 347px;
    top: 79.508px;
    left: 277.975px;
  }

  #HEADLINE1201 > .ladi-headline {
    font-family: "Oswald", sans-serif;
    color: rgb(200, 31, 23);
    font-size: 104px;
    font-weight: bold;
    line-height: 1.6;
  }

  #LINE1202 {
    width: 692px;
    top: 218.261px;
    left: 48px;
  }

  #LINE1202 > .ladi-line {
    width: 100%;
    padding: 8px 0px;
  }

  #BOX1204 {
    width: 692px;
    height: 30.426px;
    top: 261.835px;
    left: 48px;
  }

  #BOX1204 > .ladi-box {
    background-color: rgb(255, 246, 145);
  }

  #PARAGRAPH1203 {
    width: 742px;
    top: 246.508px;
    left: 0px;
  }

  #PARAGRAPH1203 > .ladi-paragraph {
    font-family: "Oswald", sans-serif;
    color: rgb(212, 31, 21);
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
  }
}

.ladi-paragraph {
  width: 100%;
  display: inline-block;
}

.ladi-box {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ladi-line {
  position: relative;
}

.ladi-headline {
  width: 100%;
  display: inline-block;
  background-size: cover;
  background-position: center center;
}

#LINE1202 > .ladi-line > .ladi-line-container {
  border-top: 2px solid rgb(212, 31, 21);
  border-right: 2px solid rgb(212, 31, 21);
  border-bottom: 2px solid rgb(212, 31, 21);
  border-left: 0px !important;
}

#HEADLINE1201.ladi-animation > .ladi-headline {
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}

#HEADLINE1200.ladi-animation > .ladi-headline {
  animation-name: fadeInLeft;
  -webkit-animation-name: fadeInLeft;
  animation-delay: 0.15s;
  -webkit-animation-delay: 0.15s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}

.ladi-paragraph {
  width: 100%;
  display: inline-block;
}

#SHAPE424.ladi-animation > .ladi-shape {
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}

#IMAGE1197.ladi-animation > .ladi-image {
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}

.ladi-image .ladi-image-background {
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  background-attachment: scroll;
  background-origin: content-box;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.ladi-image {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.ladi-container {
  position: relative;
  margin: 0 auto;
  height: 100%;
}

.ladi-element {
  position: absolute;
}

.ladi-group {
  position: absolute;
  width: 100%;
  height: 100%;
}

.ladi-shape {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.ladi-line .ladi-line-container {
  border-bottom: 0!important;
  border-right: 0!important;
  width: 100%;
  height: 100%;
}

// #GROUP972
@media (max-width: 767px) {
  #GROUP972 {
    width: 355.328px;
    height: 389.161px;
    top: -235px;
    left: 451.336px;
    display: none !important;
  }

  #GROUP972.ladi-animation > .ladi-group {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }

  #IMAGE107 {
    width: 355.328px;
    height: 378px;
    top: 0px;
    left: 0px;
  }

  #IMAGE107 > .ladi-image > .ladi-image-background {
    width: 355.328px;
    height: 400.493px;
    top: 0px;
    left: 0px;
    background-image: url(../../../public/images/2021/10/dangky-02-03-03-20210512085858.png);
  }

  #GROUP971 {
    width: 271.741px;
    height: 247.431px;
    top: 141.73px;
    left: 44.4674px;
  }
}

@media (min-width: 768px) {
  #GROUP972 {
    width: 349.428px;
    height: 382.699px;
    top: -39.1993px;
    left: 777.104px;
  }

  #GROUP972.ladi-animation > .ladi-group {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
  }

  #IMAGE107 {
    width: 349.428px;
    height: 371.723px;
    top: 0px;
    left: 0px;
  }

  #IMAGE107 > .ladi-image > .ladi-image-background {
    width: 349.428px;
    height: 393.842px;
    top: 0px;
    left: 0px;
    background-image: url(../../../public/images/2021/10/dangky-02-03-03-20210512085858.png);
  }

  #GROUP971 {
    width: 267.229px;
    height: 243.323px;
    top: 139.376px;
    left: 43.729px;
  }

  #BOX391 {
    width: 267.229px;
    height: 207.219px;
    top: 0px;
    left: 0px;
    background: #f2f2f2;
  }

  #FORM392 {
    width: 236.208px;
    height: 123.836px;
    top: 46.6078px;
    left: 14.2px;
  }

  #FORM392 > .ladi-form {
    color: rgb(132, 132, 132);
    font-size: 10px;
    letter-spacing: 0px;
    line-height: 1.6;
  }

  #BUTTON393 {
    width: 235.922px;
    height: 21.0206px;
    top: 102.815px;
    left: 0.287918px;
  }

  #BUTTON393 > .ladi-button {
    border-radius: 0px;
  }

  #BUTTON393 > .ladi-button > .ladi-button-background {
    background-color: rgb(244, 64, 37);
  }

  #BUTTON_TEXT393 {
    width: 236px;
    top: 4.7525px;
    left: 0px;
  }

  #BUTTON_TEXT393 > .ladi-headline {
    font-family: "Quicksand", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
  }

  #FORM_ITEM395 {
    width: 235.708px;
    height: 19.2107px;
    top: 0px;
    left: 0px;
  }

  #FORM392 .ladi-form-item-container, #FORM392 .ladi-form-label-container .ladi-form-label-item {
    border-color: rgb(180, 180, 180);
    border-width: 1px;
    border-radius: 0px;
  }

  #FORM392 .ladi-form-item-background {
    background-color: rgb(255, 255, 255);
  }

  #FORM_ITEM395 .ladi-form-item-container .ladi-form-item {
    opacity: 0.98;
  }

  #FORM392 .ladi-form-item {
    padding-left: 8px;
    padding-right: 8px;
  }

  #FORM_ITEM397 {
    width: 235.126px;
    height: 18.8972px;
    top: 22.4605px;
    left: 0.287918px;
  }

  #FORM_ITEM399 {
    width: 235.922px;
    height: 52.4925px;
    top: 44.9576px;
    left: 0px;
  }

  #HEADLINE401 {
    width: 238px;
    top: 6.94956px;
    left: 15.2505px;
  }

  #HEADLINE401 > .ladi-headline {
    font-family: "Montserrat", sans-serif;
    color: rgb(66, 63, 63);
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0px;
    line-height: 1.2;
  }

  #GROUP402 {
    width: 267.229px;
    height: 39.4439px;
    top: 203.879px;
    left: 0px;
  }

  #BOX403 {
    width: 267.229px;
    height: 36.1037px;
    top: 3.3402px;
    left: 0px;
  }

  #BOX403 > .ladi-box {
    background-color: rgb(230, 55, 38);
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
  }
}


.ladi-headline {
  width: 100%;
  display: inline-block;
  background-size: cover;
  background-position: center center;
}

.ladi-form .ladi-form-item {
  width: 100%;
  height: 100%;
  position: absolute;
}

.ladi-form>.ladi-element .ladi-form-item-container .ladi-form-item {
  text-transform: inherit;
  text-decoration: inherit;
  text-align: inherit;
  letter-spacing: inherit;
  color: inherit;
}

.ladi-form>.ladi-element .ladi-form-item-container .ladi-form-item-background {
  background-size: inherit;
  background-attachment: inherit;
  background-origin: inherit;
}

.ladi-form .ladi-form-item-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.ladi-form .ladi-form-item-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.ladi-form .ladi-button .ladi-headline {
  cursor: pointer;
  user-select: none;
}
.ladi-button>.ladi-element .ladi-headline {
  display: table-cell;
  vertical-align: middle;
}

.ladi-form .ladi-button>.ladi-element {
  color: initial;
  font-size: initial;
  font-weight: initial;
  text-transform: initial;
  text-decoration: initial;
  font-style: initial;
  text-align: initial;
  letter-spacing: initial;
  line-height: initial;
}

.ladi-button>.ladi-element {
  width: 100%!important;
  height: 100%!important;
  top: 0!important;
  left: 0!important;
  display: table;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.ladi-button .ladi-button-background {
  height: 100%;
  width: 100%;
  pointer-events: none;
  transition: inherit;
}

.ladi-form .ladi-button {
  cursor: pointer;
}

.ladi-button {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ladi-form {
  position: absolute;
  width: 100%;
  height: 100%;
}

.ladi-form>.ladi-element {
  text-transform: inherit;
  text-decoration: inherit;
  text-align: inherit;
  letter-spacing: inherit;
  color: inherit;
  background-size: inherit;
  background-attachment: inherit;
  background-origin: inherit;
}

.ladi-form>.ladi-element .ladi-form-item-container .ladi-form-item .ladi-form-control:not(.ladi-form-control-select) {
  text-transform: inherit;
  text-decoration: inherit;
  text-align: inherit;
  letter-spacing: inherit;
  color: inherit;
  background-size: inherit;
  background-attachment: inherit;
  background-origin: inherit;
}

.ladi-form .ladi-form-item textarea.ladi-form-control {
  resize: none;
  padding: 5px;
}

.ladi-form .ladi-form-item .ladi-form-control {
  background-color: transparent;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  color: inherit;
  font-size: inherit;
  border: none;
}

.ladi-button>.ladi-element {
  width: 100%!important;
  height: 100%!important;
  top: 0!important;
  left: 0!important;
  display: table;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.ladi-form>.ladi-element .ladi-form-item-container {
  text-transform: inherit;
  text-decoration: inherit;
  text-align: inherit;
  letter-spacing: inherit;
  color: inherit;
  background-size: inherit;
  background-attachment: inherit;
  background-origin: inherit;
}
// SECTION TWO

@media (min-width: 768px) {
  #SECTION308 {
    height: 574.154px;
  }

  #SECTION308 > .ladi-section-background {
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    background-image: url(../../../public/images/2021/10/background-section2-red-18-18-18-20210514023055.jpg);
    background-position: left top;
    background-repeat: repeat;
  }

  #IMAGE418 {
    width: 537.452px;
    height: 348.951px;
    top: -39.617px;
    left: 46.3229px;
  }

  #IMAGE418.ladi-animation > .ladi-image {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
  }

  #IMAGE418 > .ladi-image > .ladi-image-background {
    width: 537.452px;
    height: 348.951px;
    top: 0px;
    left: 0px;
    background-image: url(../../../public/images/2021/10/video-animation-la-gi-13-20210513164536.png);
  }

  #GROUP428 {
    width: 467.051px;
    height: 246.4px;
    top: 285.419px;
    left: 75.0031px;
  }

  #PARAGRAPH326 {
    width: 371px;
    top: 23.915px;
    left: 92.7897px;
  }

  #PARAGRAPH326.ladi-animation > .ladi-paragraph {
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 0.15s;
    -webkit-animation-delay: 0.15s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
  }

  #PARAGRAPH326 > .ladi-paragraph {
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 1.2;
  }

  #PARAGRAPH327 {
    width: 371px;
    top: 101.087px;
    left: 96.051px;
  }

  #PARAGRAPH327.ladi-animation > .ladi-paragraph {
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 0.25s;
    -webkit-animation-delay: 0.25s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
  }

  #PARAGRAPH327 > .ladi-paragraph {
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-align: left;
    line-height: 1.2;
  }

  #PARAGRAPH328 {
    width: 354px;
    top: 170.66px;
    left: 92.7897px;
  }

  #PARAGRAPH328.ladi-animation > .ladi-paragraph {
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
  }

  #PARAGRAPH328 > .ladi-paragraph {
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 1.2;
  }

  #IMAGE419 {
    width: 79.6899px;
    height: 85.6409px;
    top: 160.759px;
    left: 1.03344px;
  }

  #IMAGE419.ladi-animation > .ladi-image {
    animation-name: fadeInLeft;
    -webkit-animation-name: fadeInLeft;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
  }

  #IMAGE419 > .ladi-image > .ladi-image-background {
    width: 86.8428px;
    height: 85.6409px;
    top: 0px;
    left: 0px;
    background-image: url(../../../public/images/2021/10/number-16-20210513164721.png);
  }

  #IMAGE420 {
    width: 72.8054px;
    height: 82.5254px;
    top: 0px;
    left: 0px;
  }

  #IMAGE420.ladi-animation > .ladi-image {
    animation-name: fadeInLeft;
    -webkit-animation-name: fadeInLeft;
    animation-delay: 0.15s;
    -webkit-animation-delay: 0.15s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
  }

  #IMAGE420 > .ladi-image > .ladi-image-background {
    width: 79.3404px;
    height: 82.5254px;
    top: 0px;
    left: 0px;
    background-image: url(../../../public/images/2021/10/number-14-20210513164721.png);
  }

  #IMAGE421 {
    width: 79.6497px;
    height: 85.3026px;
    top: 78.021px;
    left: 3.10023px;
  }

  #IMAGE421.ladi-animation > .ladi-image {
    animation-name: fadeInLeft;
    -webkit-animation-name: fadeInLeft;
    animation-delay: 0.25s;
    -webkit-animation-delay: 0.25s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
  }

  #IMAGE421 > .ladi-image > .ladi-image-background {
    width: 86.799px;
    height: 85.3026px;
    top: 0px;
    left: 0px;
    background-image: url(../../../public/images/2021/10/number-15-20210513164721.png);
  }

  #GROUP438 {
    width: 653.822px;
    height: 432.797px;
    top: 71.022px;
    left: 518.432px;
  }

  #GROUP437 {
    width: 653.822px;
    height: 414.515px;
    top: 18.2819px;
    left: 0px;
  }

  #IMAGE431 {
    width: 653.822px;
    height: 414.515px;
    top: 0px;
    left: 0px;
  }

  #IMAGE431 > .ladi-image > .ladi-image-background {
    width: 653.822px;
    height: 414.515px;
    top: 0px;
    left: 0px;
    background-image: url(../../../public/images/2021/10/khung-19-19-20210514023414.png);
  }

  #VIDEO329 {
    width: 514.528px;
    height: 289.423px;
    top: 62.8714px;
    left: 65.4299px;
  }

  #VIDEO329 > .ladi-video > .ladi-video-background {
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    background-image: url(../../../public/images/2021/10/hqdefault.jpg);
    background-position: center center;
    background-repeat: no-repeat;
  }

  #SHAPE329 {
    width: 60px;
    height: 60px;
    top: 114.712px;
    left: 227.264px;
  }

  #GROUP436 {
    width: 244.4px;
    height: 65.43px;
    top: 0px;
    left: 94.7627px;
  }

  #HEADLINE432 {
    width: 159px;
    top: 0px;
    left: 0px;
  }

  #HEADLINE432 > .ladi-headline {
    color: rgb(255, 255, 255);
    font-size: 22px;
    text-transform: uppercase;
    line-height: 1.2;
  }

  #HEADLINE433 {
    width: 244px;
    top: 19.2441px;
    left: 0px;
  }

  #HEADLINE433 > .ladi-headline {
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1.2;
  }
}

@media (max-width: 767px) {
  #SECTION308 {
    height: 866.836px;
  }

  #SECTION308 > .ladi-section-background {
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    background-image: url(../../../public/images/2021/10/background-section2-red-18-18-18-20210514023055.jpg);
    background-position: left top;
    background-repeat: repeat;
  }

  .ladi-section .ladi-container {
    width: 420px;
  }

  #IMAGE418 {
    width: 481.621px;
    height: 312.702px;
    top: -41.047px;
    left: -16.4289px;
  }

  #IMAGE418.ladi-animation > .ladi-image {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
  }

  #IMAGE418 > .ladi-image > .ladi-image-background {
    width: 481.621px;
    height: 312.702px;
    top: 0px;
    left: 0px;
    background-image: url(../../../public/images/2021/10/video-animation-la-gi-13-20210513164536.png);
  }

  #GROUP428 {
    width: 389.221px;
    height: 246.146px;
    top: 587.705px;
    left: 25.6231px;
  }

  #PARAGRAPH326 {
    width: 268px;
    top: 14.263px;
    left: 93.2209px;
  }

  #PARAGRAPH326.ladi-animation > .ladi-paragraph {
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 0.15s;
    -webkit-animation-delay: 0.15s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
  }

  #PARAGRAPH326 > .ladi-paragraph {
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 1.2;
  }

  #PARAGRAPH327 {
    width: 250px;
    top: 94.853px;
    left: 93.2209px;
  }

  #PARAGRAPH327.ladi-animation > .ladi-paragraph {
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 0.25s;
    -webkit-animation-delay: 0.25s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
  }

  #PARAGRAPH327 > .ladi-paragraph {
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: left;
    line-height: 1.2;
  }

  #PARAGRAPH328 {
    width: 296px;
    top: 169.426px;
    left: 93.2209px;
  }

  #PARAGRAPH328.ladi-animation > .ladi-paragraph {
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
  }

  #PARAGRAPH328 > .ladi-paragraph {
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 1.2;
  }

  #IMAGE419 {
    width: 86.8428px;
    height: 85.6409px;
    top: 160.505px;
    left: 0px;
  }

  #IMAGE419.ladi-animation > .ladi-image {
    animation-name: fadeInLeft;
    -webkit-animation-name: fadeInLeft;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
  }

  #IMAGE419 > .ladi-image > .ladi-image-background {
    width: 86.8428px;
    height: 85.6409px;
    top: 0px;
    left: 0px;
    background-image: url(../../../public/images/2021/10/number-16-20210513164721.png);
  }

  #IMAGE420 {
    width: 79.3404px;
    height: 82.5254px;
    top: 0px;
    left: 0px;
  }

  #IMAGE420.ladi-animation > .ladi-image {
    animation-name: fadeInLeft;
    -webkit-animation-name: fadeInLeft;
    animation-delay: 0.15s;
    -webkit-animation-delay: 0.15s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
  }

  #IMAGE420 > .ladi-image > .ladi-image-background {
    width: 79.3404px;
    height: 82.5254px;
    top: 0px;
    left: 0px;
    background-image: url(../../../public/images/2021/10/number-14-20210513164721.png);
  }

  #IMAGE421 {
    width: 86.799px;
    height: 85.3026px;
    top: 75.202px;
    left: 3.3785px;
  }

  #IMAGE421.ladi-animation > .ladi-image {
    animation-name: fadeInLeft;
    -webkit-animation-name: fadeInLeft;
    animation-delay: 0.25s;
    -webkit-animation-delay: 0.25s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
  }

  #IMAGE421 > .ladi-image > .ladi-image-background {
    width: 86.799px;
    height: 85.3026px;
    top: 0px;
    left: 0px;
    background-image: url(../../../public/images/2021/10/number-15-20210513164721.png);
  }

  #GROUP438 {
    width: 455.922px;
    height: 327.05px;
    top: 252.655px;
    left: -16.4289px;
  }

  #GROUP437 {
    width: 455.922px;
    height: 289.05px;
    top: 38px;
    left: 0px;
  }

  #IMAGE431 {
    width: 455.922px;
    height: 289.05px;
    top: 0px;
    left: 0px;
  }

  #IMAGE431 > .ladi-image > .ladi-image-background {
    width: 455.922px;
    height: 289.05px;
    top: 0px;
    left: 0px;
    background-image: url(../../../public/images/2021/10/khung-19-19-20210514023414.png);
  }

  #VIDEO329 {
    width: 369.285px;
    height: 207.724px;
    top: 41.6672px;
    left: 43.3185px;
  }

  .ladi-video {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
  }

  #VIDEO329 > .ladi-video > .ladi-video-background {
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    background-image: url(../../../public/images/2021/10/hqdefault.jpg);
    background-position: center center;
    background-repeat: no-repeat;
  }

  #HEADLINE433 {
    width: 257px;
    top: 15px;
    left: 0px;
  }

  #HEADLINE433 > .ladi-headline {
    font-family: "Paytone One", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1.2;
  }

  #GROUP436 {
    width: 257px;
    height: 63px;
    top: 0px;
    left: 66.0798px;
  }
}


.ladi-video {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
}

.ladi-video .ladi-video-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

// SECTION THIRD
@media (min-width: 768px) {
  #SECTION30 {
    height: 634.6px;
  }

  #SECTION30 > .ladi-section-background {
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    background-image: url(../../../public/images/2021/10/background2-08-08-20210514040611.png);
    background-position: center top;
    background-repeat: repeat;
  }

  #SECTION30 > .ladi-overlay {
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
    mix-blend-mode: screen;
    will-change: transform, opacity;
  }
}

.ladi-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

// SECTION FOUR
@media (min-width: 768px) {
  #SECTION529 {
    height: 558.107px;
  }

  #SECTION529 > .ladi-section-background {
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    background-image: url(../../../public/images/2021/10/background-section-3-02-20210512042008.jpg);
    background-position: center top;
    background-repeat: repeat;
  }

  #GROUP533 {
    width: 409.739px;
    height: 62.5141px;
    top: 39.41px;
    left: 399.565px;
  }

  #IMAGE534 > .ladi-image {
    filter: blur(29px);
  }

  #IMAGE534 > .ladi-image > .ladi-image-background {
    width: 409.739px;
    height: 62.5141px;
    top: 0px;
    left: 0px;
    background-image: url(../../../public/images/2021/10/logo-genex-text-21-20210514041347.png);
  }

  #IMAGE534 {
    width: 409.739px;
    height: 62.5141px;
    top: 0px;
    left: 0px;
  }

  #IMAGE535 > .ladi-image > .ladi-image-background {
    width: 409.739px;
    height: 62.5141px;
    top: 0px;
    left: 0px;
    background-image: url(../../../public/images/2021/10/logo-genex-text-21-20210514041347.png);
  }

  #IMAGE535 {
    width: 409.739px;
    height: 62.5141px;
    top: 0px;
    left: 0px;
  }

  #GROUP536 {
    width: 566px;
    height: 38px;
    top: 167.167px;
    left: 321.435px;
  }

  #GROUP537 {
    width: 566px;
    height: 38px;
    top: 0px;
    left: 0px;
  }

  #BOX538 {
    width: 566px;
    height: 38px;
    top: 0px;
    left: 0px;
  }

  #BOX538 > .ladi-box {
    background-color: rgb(242, 242, 242);
    border-radius: 8px;
    filter: blur(32px);
  }

  #BOX539 {
    width: 566px;
    height: 38px;
    top: 0px;
    left: 0px;
  }

  #BOX539 > .ladi-box {
    background-color: rgb(242, 242, 242);
    border-radius: 8px;
  }

  #HEADLINE540 {
    width: 535px;
    top: 6px;
    left: 20.5px;
  }

  #HEADLINE540 > .ladi-headline {
    font-family: "Oswald", sans-serif;
    color: rgb(98, 98, 98);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.6;
  }

  #HEADLINE532 {
    width: 528px;
    top: 108.796px;
    left: 340.435px;
  }

  #HEADLINE532 > .ladi-headline {
    font-family: "Oswald", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.6;
  }

  #GROUP558 {
    width: 200px;
    height: 277px;
    top: 230.36px;
    left: 263.75px;
  }

  #GROUP558.ladi-animation > .ladi-group {
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
  }

  #GROUP556 {
    width: 200px;
    height: 277px;
    top: 0px;
    left: 0px;
  }

  #GROUP543 {
    width: 200px;
    height: 277px;
    top: 0px;
    left: 0px;
  }

  #BOX541 {
    width: 200px;
    height: 277px;
    top: 0px;
    left: 0px;
  }

  #BOX541 > .ladi-box {
    background: #fdfbfb;
    background: -webkit-linear-gradient(
  180deg
  , #fdfbfb, #eaedee);
      background: linear-gradient(
  180deg
  , #fdfbfb, #eaedee);
      border-radius: 13px;
      filter: blur(26px);
  } 

  #BOX542 {
    width: 200px;
    height: 277px;
    top: 0px;
    left: 0px;
  }

  #IMAGE551 {
    width: 180.75px;
    height: 32.0856px;
    top: 22.3388px;
    left: 7.25px;
  }

  #IMAGE551 > .ladi-image > .ladi-image-background {
    width: 180.75px;
    height: 32.0856px;
    top: 0px;
    left: 0px;
    background-image: url(../../../public/images/2021/10/logo-09-20210513093016.png);
  }

  #HEADLINE552 {
    width: 146px;
    top: 59.684px;
    left: 16px;
  }

  #HEADLINE552 > .ladi-headline {
    font-family: "Oswald", sans-serif;
    color: rgb(98, 98, 98);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.6;
  }

  #HEADLINE553 {
    width: 172px;
    top: 95.684px;
    left: 16px;
  }

  #HEADLINE553 > .ladi-headline {
    font-family: "Oswald", sans-serif;
    color: rgb(199, 31, 22);
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
  }

  #PARAGRAPH555 {
    width: 166px;
    top: 164.773px;
    left: 16px;
  }

  #PARAGRAPH555 > .ladi-paragraph {
    font-family: "Oswald", sans-serif;
    color: rgb(98, 98, 98);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.6;
  }

  #IMAGE557 {
    width: 79.3595px;
    height: 93.673px;
    top: 45.7264px;
    left: 96.683px;
  }

  #IMAGE557 > .ladi-image > .ladi-image-background {
    width: 79.3595px;
    height: 93.673px;
    top: 0px;
    left: 0px;
    background-image: url(../../../public/images/2021/10/icon-22-20210514042403.png);
  }

  #BOX542 > .ladi-box {
    background: #fdfbfb;
    background: -webkit-linear-gradient(
    180deg
    , #fdfbfb, #eaedee);
        background: linear-gradient(
    180deg
    , #fdfbfb, #eaedee);
        border-radius: 13px;
    }

  #GROUP564 {
      width: 200px;
      height: 277px;
      top: 230.36px;
      left: 502.25px;
  }

  #GROUP564.ladi-animation > .ladi-group {
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
  }

  #GROUP545 {
    width: 200px;
    height: 277px;
    top: 0px;
    left: 0px;
  }

  #BOX546 {
    width: 200px;
    height: 277px;
    top: 0px;
    left: 0px;
  }

  #BOX546 > .ladi-box {
    background: #fdfbfb;
    background: -webkit-linear-gradient(
    180deg
    , #fdfbfb, #eaedee);
        background: linear-gradient(
    180deg
    , #fdfbfb, #eaedee);
        border-radius: 13px;
        filter: blur(26px);
    }

    #BOX547 {
    width: 200px;
    height: 277px;
    top: 0px;
    left: 0px;
  }

  #BOX547 > .ladi-box {
    background: #fdfbfb;
    background: -webkit-linear-gradient(
    180deg
    , #fdfbfb, #eaedee);
        background: linear-gradient(
    180deg
    , #fdfbfb, #eaedee);
        border-radius: 13px;
    }

  #HEADLINE559 {
      width: 160px;
      top: 25.357px;
      left: 20px;
  }

  #HEADLINE559 > .ladi-headline {
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(199, 31, 22);
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
  }

  #PARAGRAPH560 {
    width: 171px;
    top: 68.147px;
    left: 17px;
  }

  #PARAGRAPH560 > .ladi-paragraph {
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-align: left;
    letter-spacing: 0px;
    line-height: 1.2;
  }

  #GROUP565 {
    width: 200px;
    height: 277px;
    top: 230.36px;
    left: 736.25px;
  }

  #GROUP565.ladi-animation > .ladi-group {
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
  }

  #GROUP548 {
    width: 200px;
    height: 277px;
    top: 0px;
    left: 0px;
  }

  #BOX549 {
    width: 200px;
    height: 277px;
    top: 0px;
    left: 0px;
  }

  #BOX549 > .ladi-box {
    background: #fdfbfb;
    background: -webkit-linear-gradient(
  180deg
  , #fdfbfb, #eaedee);
      background: linear-gradient(
  180deg
  , #fdfbfb, #eaedee);
      border-radius: 13px;
      filter: blur(26px);
  }

  #BOX550 {
    width: 200px;
    height: 277px;
    top: 0px;
    left: 0px;
  }

  #BOX550 > .ladi-box {
    background: #fdfbfb;
    background: -webkit-linear-gradient(
    180deg
    , #fdfbfb, #eaedee);
        background: linear-gradient(
    180deg
    , #fdfbfb, #eaedee);
        border-radius: 13px;
  }

  #PARAGRAPH561 {
    width: 167px;
    top: 75.1666px;
    left: 18px;
  }
  
  #PARAGRAPH561 > .ladi-paragraph {
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 15px;
    line-height: 1.2;
  }

  #HEADLINE562 {
    width: 160px;
    top: 24.357px;
    left: 20px;
  }

  #HEADLINE562 > .ladi-headline {
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(199, 31, 22);
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
  }
}

// POST SERVICES
@media (min-width: 768px) {
  // #SECTION195 {
  //   min-height: inherit;
  // }

  #SECTION195 > .bg-loaded {
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    background-image: url(../../../public/images/2021/10/background-genex-20-20-20210514030945.jpg);
    background-position: center top;
    background-repeat: repeat;
  }

  #HEADLINE197 > .ladi-headline {
    color: rgb(230, 55, 38);
    font-size: 29px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.6;
  }

  #IMAGE198 {
    width: 376.377px;
    height: 68.285px;
    top: 84.464px;
    left: 403px;
  }

  #IMAGE198 > .ladi-image > .ladi-image-background {
    width: 376.377px;
    height: 68.285px;
    top: 0px;
    left: 0px;
    background-image: url(../../../public/images/2021/10/logo-09-20210513093016.png);
  }

  .GROUP953 {
    width: 459.835px;
    height: 342.892px;
    top: 182px;
    left: 134.083px;
  }

  .GROUP939 {
    width: 459.835px;
    height: 342.892px;
    top: 0px;
    left: 0px;
  }
  
  .BOX940 {
    width: 459.835px;
    height: 86.5145px;
    top: 256.378px;
    left: 0px;
  }

  .BOX940 > .ladi-box {
    background-color: rgb(212, 31, 21);
    border-style: solid;
    border-color: rgb(132, 132, 132);
    border-width: 1px;
    border-radius: 0px 0px 15px 15px;
  }

  .GROUP941 {
    width: 458.478px;
    height: 312.478px;
    top: 0px;
    left: 0px;
  }

  .VIDEO942 {
    width: 458.478px;
    height: 257.894px;
    top: 0px;
    left: 0px;
  }

  .PARAGRAPH944 {
    width: 323px;
    top: 264.478px;
    left: 13.2596px;
  }

  .PARAGRAPH944 > .ladi-paragraph {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;
  }

  .IMAGE952 {
    width: 77.1875px;
    height: 43.3664px;
    top: 279px;
    left: 362px;
  }

  .IMAGE952 > .ladi-image > .ladi-image-background {
    width: 77.1875px;
    height: 43.3664px;
    top: 0px;
    left: 0px;
    background-image: url(../../../public/images/2021/10/logo-genex-white-30-20210514090418.png);
  }

  .GROUP962 {
    width: 459.835px;
    height: 342.892px;
    top: 182px;
    left: 605.082px;
  }
}

#text-4214745138 {
  text-align: center;
}
