#gap-1363176295 {
  padding-top: 43px;
}

#text-404384872 {
  text-align: center;
}

#text-491937592 {
  color: rgb(255, 253, 236);
}

#text-491937592>* {
  color: rgb(255, 253, 236);
}

#text-box-656465645 {
  width: 69%;
}

#text-box-656465645 .text-box-content {
  font-size: 131%;
}

#banner-775166436 .bg.bg-loaded {
  background-image: url(../../../public/images/2021/10/motion-graphics-best-practices.1900x1900.png);
}

.banner {
  padding-top: 99.99%;
}

#banner-1702831144 .bg.bg-loaded {
  background-image: url(../../../public/images/2021/10/c9766811449634cab83a657a51c8448c.png);
}

#banner-956890562 .bg.bg-loaded {
  background-image: url(../../../public/images/2021/10/Doutss-Landing-Page.jpg);
}

#banner-1671117404 .bg.bg-loaded {
  background-image: url(../../../public/images/2021/10/thiet-ke-landing-page-toi-uu-cho-quang-cao-google-ads-search.jpg);
}

.banner .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.banner .ux-shape-divider--top svg {
  height: 150px;
  --divider-top-width: 100%;
}

.banner .ux-shape-divider--bottom svg {
  height: 150px;
  --divider-width: 100%;
}

#col-287069036>.col-inner {
  margin: -148px 0px 0px 0px;
}

#row-250246419>.col>.col-inner {
  padding: 0px 0px 0px 0px;
}